@import "./fonts.css";
@import "../App.css";
@import "../pages/Main/MainPage.css";
@import "../pages/Login/LoginPage.css";
@import "../components/CardsList/CardList.css";
@import "../components/CardItem/CardItem.css";
@import "../components/Header/HeaderComponent.css";

:root {
  --page-bg-color: #1f202e;
  --purple: #413c56;
  --light-purple: #594d87;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "WorkSansBold", sans-serif;
  font-weight: 600;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}
p {
  padding: 0;
}

input,
select,
textarea,
button {
  outline: none !important;
  border: none;
  background: none;
}

button {
  cursor: pointer;
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset;
  transition: background-color 5000s ease-in-out 0s;
}
body {
  width: 100vw;
  overflow-x: hidden;
  overflow-y: overlay;
  position: relative;
}

.page {
  width: 100%;
  min-height: 100vh;
  background-color: var(--page-bg-color);
}
